<head>
  <meta http-equiv="refresh" content="5" />
</head>

<main>
<div align="center">
 <% if @visits.any? %>
   <h2>Visits</h2>
    <%@visits.reverse.each do |visit|%>

    <li>
      <h3>Beacon <%=visit.beacon.name%> was visited at <%=visit.created_at%></h3>
    </li>
    <%end%>
  <%end%>
</div>
</main>