/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face{
  font-family: 'litera';
  src: asset-url('litera.ttf') format('truetype')
}

nav {
  background-image: url("honeycomb.gif");
  background-color: white;
}

footer {
  background-color: rgb(85,60,82);
}

header, nav, article, footer, address {
  display: block;
}

table{
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th, td {
  border: 1px solid black;
  overflow: hidden;
  width: 100px;
}

main{
  font-family: 'litera';
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

input[type=submit]{
  font-family: 'litera';
}

input[type=file]{
  font-family: 'litera';
}

body{
  margin: 0 auto;
  background-color: #CDB5CD;
  font-family: 'litera';
}

.navbar-brand{
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 10px;

}

#product_image{
  font-family: 'litera';
}

img {
 /*  padding:1px;
   border:1px solid #021a40;*/

}
