<% if @shows.any? %>
 <h2>Shows</h2>
  <%@shows.each do |show|%>

  <li>
    <%=link_to show.name, new_show_beacon_path(show)%>
    <%= link_to "Delete", show_path(show), method: :delete %>
  </li>
  <%end%>
<%end%>

<h2>
  <%=link_to "Add Show", new_show_path() %>
</h2>

