
<main>

<h1 align="center">Options</h1>

<div class="shows">

  <%=link_to image_tag('calendar.png'), new_show_path() %>

  <%=link_to image_tag('product.png'), new_product_path() %>

  <%=link_to image_tag('graph.png'), visits_path() %>
</div>
<div class="or-spacer2">
  <div class="mask2"></div>
</div>
    <% if @shows.any? %>
   <h1 align="center" style="margin-bottom:50px;">Collections</h1>
    <%@shows.each do |show|%>

      <h3 align="center"><%=link_to show.name, new_show_beacon_path(show)%></h3>
    <%end%>
  <%end%>
</main>